# Windows Files
[Tt]humbs.db
[Dd]esktop.ini
*.DS_Store

# Editor Temporary Files
*.*~

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app